* {
  margin: 0 auto;
  box-sizing: border-box;
}
.homepage {
  width: 100vw;
  height: 100vh;
  background-color: #0f0f0f;
}

/* ROUTE SIGN UP  */

.signup-h2 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 24px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 275px;
  height: 382px;
}

.signup-input {
  width: 275px;
  height: 38px;
  color: black;
  font-size: 16px;
  border: none;
  margin-bottom: 20px;
  border-bottom: 1px solid #fcced3;
}

.signup-input-submit {
  width: 275px;
  height: 45px;
  margin-top: 30px;
  color: white;
  border: none;
  background-color: #2eb0ba;
  border-radius: 5px;
}
.signup-newletter-container {
  width: 275px;
  height: 123px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.signup-checkbox {
  width: 26px;
  height: 26px;
}
.signup-checkbox-container {
  width: 255px;
  height: 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.signup-checkbox-container span {
  font-size: 16px;
  color: #666666;
}

.signup-newletter-container p {
  font-size: 12px;
  color: #999999;
}

.container-loader {
  width: 1340px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-deja-connecte {
  color: #2cb1ba;
  font-size: 12px;
  margin-top: 10px;
}

.signup-inscris-toi {
  color: #2cb1ba;
  font-size: 12px;
  margin-top: 20px;
}

/* ROUTE SIGN IN  */
.signin-h2 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 24px;
}

.signin-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 275px;
  height: 181px;
}

.signin-input {
  width: 275px;
  height: 38px;
  color: black;
  font-size: 16px;
  border: none;
  margin-bottom: 20px;
  border-bottom: 1px solid #fcced3;
}

.signin-input-submit {
  width: 275px;
  height: 45px;
  margin-top: 30px;
  color: white;
  border: none;
  background-color: #2eb0ba;
  border-radius: 5px;
}
